# 1. Pandas library

To use Panda first load the panda library

In [1]:
import numpy as np
import pandas as pd

# 2. Reading from CSV file into dataframe

You can read data from a CSV file using the **read_csv** function. By default, it assumes that the fields are comma-separated.

In [ ]:
data = pd.read_csv('data/primary.csv')

In [ ]:
# List all the columns in the DataFrame
data.columns

In [ ]:
# We can use the len function again here to see how many rows there are in the dataframe: 163
len(data)

In [ ]:
# How big is this dataframe (rows, columns)
data.shape

In [ ]:
# Let view the first few rows 
data.head()

Notice that read_csv automatically considered the first row in the file to be a header row.
We can override default behavior by customizing some the arguments, like header, names or index_col.

In [ ]:
# View Last 6 rows
data.tail(6)

# <font color="green">Exercise</font>

* Load the university enrollment data  as a pandas data frame and inspect the first 5 rows.
* How many row does the data set contain?

In [ ]:
university = pd.read_csv('data/university.csv')

In [ ]:
university.head()

## 2. 1 Adding and Droping column
Let us add another column to the primary dataframe. Suppose we want to add total enrollment column

In [ ]:
data['TOTAL']=data['MALE']+ data["FEMALE"]

In [ ]:
data.head()

It clear from the above result we can perform arthmetic operation on pandas dataframe.

# <font color="green">Exercise</font>

Add Total enrollment in university dataframe

In [ ]:
#

### Dropping Column

We can  delete column in panda dataframe. Let us delete the TOTAL column in primary enrollment dataframe.

In [ ]:
data.drop('TOTAL', axis=1, inplace=True)
data.head()

### Note:
 1. **axis=1** denotes that we are referring to a column, not a row
 2. **inplace=True** means that the changes are saved to the df right away

# <font color="green">Exercise</font>
* Drop the Total you created in the previous exercise.

**Hint**: To delete multiple column use *dataframe.drop(['Column_name1', 'Column_name2'], axis=1)*.

In [ ]:
#

## 2.2  Slicing Subsets of Rows and Columns in Python

#### Selecting a single column - returns a 'series'

In [ ]:
data.REGION
# You can aslo use data['REGION']

In [ ]:
# To select column as data frame
data[['DISTRICT']]

#### Selecting multiple columns - returns a dataframe

In [ ]:
data[['REGION','DISTRICT']]

#### Selecting rows by number

In [ ]:
data[15:20]

In [ ]:
# Try  data[:8] and data[100:]
data[:8]

## 2.3 Position Based Selection of columns and lows
Pandas allows us to use position based indexing implemented with iloc and loc: 
>**.loc** for label-based indexing

>**.iloc** for positional indexing

#### To slice a specific column using label indexing

In [ ]:
# And here is how to slice a column:
data.loc[: , "REGION"]

We can also use postion indexing

In [ ]:
data.iloc[:,0]

####  To extract only a row you would do the inverse:

In [ ]:
data.iloc[2,:]

#### To select range of row and column

In [ ]:
## Select first four rows(including header) and first three column (including SN)
data.iloc[0:3,0:2]

#### Select only the specified range of column

In [ ]:
data.iloc[:,1:3]

#### To select  different columns

In [ ]:
data.iloc[:,[0, 3]]

In [ ]:
university.head()

# <font color="green">Exercise</font>

* What happens when you type the code below?
> ```python
     university.loc[[0, 10, 50], :]
  ```

* What happens when you type
> ```python
    university.iloc[0:4, 1:4]
    university.loc[0:4, 1:4]
  ```
 How are the two commands different?
 
 
* What happens when you type:
> 
```python
          university[0:3]
          university[:5]
          university[-1:] 
```

## 2.4 Subsetting Data Using Criteria
We can also select a subset of our data using criteria. For example, we can select all rows that have female higher than 50000.

In [ ]:
data[data.FEMALE > 50000]

Or we can select all rows which are in Arusha

In [ ]:
data[data.REGION == 'ARUSHA']

You can select data based on criteria and choose which column to display. Example let select all districts with male erollment less than 1000.

In [ ]:
data[data.MALE < 10000][['DISTRICT']]

# <font color="green">Exercise</font>

## 2.5  Sort Data in Pandas

We can also sort data in pandas. For example let us  sort the dataframe's rows by male, in descending order.

In [ ]:
data.sort_values(by='MALE', ascending=0)

Sorting by region descending

In [ ]:
data.sort_values(by=['REGION'],ascending=False)

 **Putting it together**: Select Districts and Region  with Male > 50000 and Female > 30000, sorted by Districts

In [ ]:
temp_data = data[(data.MALE > 50000) & (data.FEMALE >30000)]
temp_data2 = temp_data[['DISTRICT', 'REGION']]
temp_data2.sort_values(by="DISTRICT", ascending=0)

The above code is equivalent to:

In [ ]:
data[(data.MALE > 50000) & (data.FEMALE >30000)][['DISTRICT', 'REGION']].sort_values(by="DISTRICT", ascending=0)

# <font color="green">Exercise</font>

* Select all teenagers female passengers in titanic dataset.
* Use the titanic data to print the name, age and gender of all survived passengers less than 20 years old in class C sorted by their age (smallest to lagest).

## 3. Descriptive Statistics  From Data

Descriptive statistics can give you great insight into the shape of each attribute. The **describe()** function on the Pandas DataFrame lists 8 statistical properties of each attribute:

* Count
* Mean
* Standard Devaition
* Minimum Value
* 25th Percentile
* 50th Percentile (Median)
* 75th Percentile
* Maximum Value

For example to obtain the statistics summary  for Cities data.

In [ ]:
data.describe()

To obtain descriptive statistics of a particular column use:

In [ ]:
data['MALE'].mean()

### Groupby
However we often want to calculate summary statistics grouped by subsets or attributes within fields of our data. For example, we might want to calculate the average enrollment of all districts per regions. To accomplish this we  can use  **.groupby** method

In [ ]:
data.groupby('REGION').mean()

Let find maximum male enrollment of districts in each regions

In [ ]:
data.groupby('REGION')[['MALE']].max().sort_values(by="MALE", ascending=0)

### Writing Out Data to CSV

We can use the **to_csv** command to do export a DataFrame in CSV format. We can save it to a different folder by adding the foldername and a slash to the file **.to_csv('foldername/filename.csv')**.

In [ ]:
#Save the dataset to harddisk
data.to_csv('Data/primary_atc.csv')

## References

* [Jupyter Notebooks for the Python Data Science Handbook](https://github.com/jakevdp/PythonDataScienceHandbook)
* [Pandas & Seaborn - A guide to handle & visualize data elegantly](https://tryolabs.com/blog/2017/03/16/pandas-seaborn-a-guide-to-handle-visualize-data-elegantly/)